@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Hello World";
}
<div>
    <h1>Hello World</h1>
    <blockquote>
        This is my first Layout/Content Page
    </blockquote>
    <p>We are starting to learn about Forms and Razor
       web pages. The Layout page contains the structural
       layout of the web page. The Content page contains the
       content that appears in the &lt; Body &gt; tag. </p>
</div>
<div>
    @section foot{
        &copy;  CPSC1517 Nait Sept 2020}
</div>

